<p class="hidden" id='msg-invalid'>This is an <mark class="secondary">invalid</mark> link</p>
<p class="hidden" id='msg-not-exists'>This is a <mark class="tertiary">valid</mark> link, but <mark class="secondary">not exists</mark></p>
<p class="hidden" id='msg-valid'>This is a <mark class="tertiary">valid</mark> and <mark class="tertiary">exists</mark></p>
