<p class="hidden" id='msg-invalid'>This is an <mark class="secondary">invalid</mark> link</p>
<p class="hidden" id='msg-file'>This is a <mark class="tertiary">valid</mark> <mark class="primary">file</mark></p>
<p class="hidden" id='msg-folder'>This is a <mark class="tertiary">valid</mark> <mark class="secondary">folder</mark></p>
